*{
    margin: 0;
}
.navbar-custom{
    background-color: #ff7d60;
}
#inicio{
    background-color: #ffffff;
}
#videoInicio{
    width: 50%;
}
.description{
    width: 50%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
#pTitulo{
    margin-bottom: 0;
    color: #e76958;
    font-size: 35px;
    font-weight: 300;
}
h1{
    margin-bottom: 0;
    font-size: 70px;
    font-weight: 600;
}
#pDesarrollador{
    color: #e76958;
    font-size: 30px;
    font-weight: 300;
}

/* Termina inicio */

/* Inicia sobre mi */

#sobreMi{
    background-color: #e76958;
}
.GlobalSobreMi, .GlobalExperiencia, .Globalcontactame{
    padding: 70px;
}
#tituloSobreMi, #tituloExperiencia, #tituloContactame{
    font-weight: 700;
    font-size: 40px;
}
.Info, #inicio, .contAbility, .contLenguages, .contInfo, .contRedes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Info{
    align-items: center;
    justify-content: space-evenly;}
#pTextInfo{
    width: 500px;
    font-weight: 300;
    font-size: 20px;
}
#contImg{
    border: 2px solid black;
    border-radius: 25%;
}
#imgPerfil{
    width: 300px;
    height: 300px;
    background-image: url("../images/Perfil.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    filter:sepia(60%);
    border-radius: 25%;
    transition: transform 1s ease-out, filter 1s ease-out;
}
#imgPerfil:hover{
    transform: translate(-10px, -10px);
    filter:sepia(0%);
}
.abilitiesLeng{
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(2,45%);
    justify-content: flex-end;
}
.contAbility p, .contLenguages p{
    font-weight: 500;
    font-size: 15px;
}
.progress{
    margin: 8px;
    width: 65%;
    height: 6px;
}
.progress-bar{
    background-color: #335D9C;
}

/* Termina sobre mi */
/* comienza experiencia */


#experiencia{
    background-color: #ffffff;
}
.contenedorVideoDesc{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2,45%);
    justify-content: center;
    align-items: center;
}
video{
    width: 100%;
    border-radius: 7px;
    filter: blur(1px);
    transition: filter 0.5s linear;
}
video:hover{
    filter: blur(0px);
}
.contDesc{
    background-color: #ECA9A0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 40px;
    padding: 20px;
    border-radius: 7px;
}
.contDesc h3{
    text-align: right;
}
.contDesc p{
    font-weight: 200;
    text-align: right;
}
.contInfo a, .redes a{
    padding: 10px;
    color: #000000;
    font-size: 30px;
}

/* Termina experiencia */

#contactame{
    background-color: #e76958;
}
.contFormRedes{
    display: grid;
    grid-template-columns: 45% 10% 45%;
}
.form-floating{
    margin: 15px;
    width: 75%;
}
#form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.mapContacto{
    background-color: #ffffff;
}
.btn{
    border: #000000 solid 2px;
}
#separatorRedes{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.contRedes{
    align-items: center;
    justify-content: center;
}
#github, #linkedIn, #wsp, #mail{
    border-radius: 20%;
}
#github:hover{
    background-color: #000000;
    color: #ffffff;
}
#linkedIn:hover{
    background-color: #0a66c2;
    color: #ffffff;
}
#wsp:hover{
    color: #ffffff;
    background-color: #25D366;
}
#mail:hover{
    color: #ffffff;
    background-color: #1c6fff;
}


@media screen and (max-width: 1200px){
    .contenedorVideoDesc {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    .contDesc{
        margin: 25px 0;
    }
    .abilitiesLeng{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .contFormRedes{
        display: flex;
        flex-direction: column;
    }
    #separatorRedes{
    margin: 30px;
    justify-content: center;
    }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
    .abilitiesLeng{
        margin: 50px;
    }
}

@media screen and (max-width: 600px){
    .description{
        width: 100%;
        padding-left: 10px;
    }

    #videoInicio{
        width: 0px;
    }
    .GlobalSobreMi, .GlobalExperiencia, .Globalcontactame{
        padding: 70px 20px;
    }
    .abilitiesLeng{
        margin: 20px;
    }
    .contAbility p, .contLenguages p{
        font-size: 10px;
    }
    .contenedorVideoDesc{margin: 0%;}

    .contenedorVideoDesc {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    .contDesc{
        margin: 25px 0;
    }
    .abilitiesLeng{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    

}

